<article class="game_element">


  <a href="/all/{{num}}">  <img class="game_image" src="{{PhotoURL}}"></img></a>
  <div class="game_info">
  <a href="/all/{{num}}">    <h2 class="game_title">{{title}}</h2></a>
    <p class="game_price">Price: ${{price}}</p>
    <p class="game_category">Category: {{categories}}</p>
    <p class="game_description_text">{{descirption}}</p>
  </div>

</article>
