    <article class="game_element2">


     <img class="game_image2" src={{PhotoURL}}></img>
      <div class="game_info2">
       <h2 class="game_title2">{{title}}</h2>

        <p class="game_price2">Price: ${{price}}</p>

        <p class="game_category2">
         Category: {{categories}}
        </p>
        <p class="game_description_text2">{{descirption}}
        </p>
      </div>

    </article>
